* {
  box-sizing: border-box;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.App {
  width: 60%;
  min-height: 100vh;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}
@media screen and (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media screen and (max-width: 650px) {
  .App {
    width: 90vw;
  }
}
/* Button */
.MyBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.MyBtn_default {
  background: #ececec;
}

.MyBtn_negative {
  color: #fff;
  background: #fd565f;
}

.MyBtn_positive {
  color: #fff;
  background: #64c964;
}

/* Header */
.MyHeader {
  display: flex;
  align-items: center;
  padding: 10px 20px 20px;
  border-bottom: 1px solid #ececec;
}

.MyHeader .header_btn_left {
  display: flex;
  justify-content: start;
  width: 25%;
}

.MyHeader .header_btn_right {
  display: flex;
  justify-content: end;
  width: 25%;
}

.MyHeader .header_text {
  width: 50%;
}

/* DiaryList */
.DiaryList .menu-wrapper {
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
}
.DiaryList .menu-wrapper .SortMenu {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
}

.DiaryList .menu-wrapper .MyBtn {
  flex-grow: 1;
}

/* DiaryItem */
.DiaryItem {
  display: flex;
  padding:15px;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
}

.DiaryItem .emotion-image-wrapper {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DiaryItem .emotion-image-wrapper-1 {
  background-color: #64c964;
}

.DiaryItem .emotion-image-wrapper-2 {
  background-color: #9dd772;
}
.DiaryItem .emotion-image-wrapper-3 {
  background-color: #fdce17;
}
.DiaryItem .emotion-image-wrapper-4 {
  background-color: #fd8446;
}
.DiaryItem .emotion-image-wrapper-5 {
  background-color: #fd565f;
}

.DiaryItem .emotion-image-wrapper img {
  width: 50%;
}

.DiaryItem .diary-info {
  flex-grow: 1;
  padding: 10px 20px;
  text-align: start;
  white-space: wrap;
  
}
.DiaryItem .diary-info div:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}

/* Diary Editor */
.DiaryEditor section {
  margin-bottom: 40px;
  padding: 20px;
  text-align: start;
}

.DiaryEditor section h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.DiaryEditor .select-date #input-date {
  border: none;
  background-color: #ececec;
  padding: 10px 20px;
  border-radius: 5px;
}

.DiaryEditor .select-emotion .emotion-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2%;
  margin-top: 20px;
}
.DiaryEditor .emotion-wrapper .emotion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  border-radius: 5px;
}

.DiaryEditor .emotion-wrapper .emotion-col img {
  width: 50%;
  margin-bottom: 15px;
}
.DiaryEditor .emotion-wrapper .emotion-off {
  background-color: #ececec;
}

.DiaryEditor .emotion-wrapper .emotion-1-on {
  background-color: #64c964;
  color: #fff;
}
.DiaryEditor .emotion-wrapper .emotion-2-on {
  background-color: #9dd772;
  color: #fff;
}

.DiaryEditor .emotion-wrapper .emotion-3-on {
  background-color: #fdce17;
  color: #fff;
}
.DiaryEditor .emotion-wrapper .emotion-4-on {
  background-color: #fd8446;
  color: #fff;
}
.DiaryEditor .emotion-wrapper .emotion-5-on {
  background-color: #fd565f;
  color: #fff;
}

.DiaryEditor .text-wrapper textarea {
  width: 100%;
  min-height: 150px;
  padding: 20px;
  border: none;
  background-color: #ececec;
  border-radius: 5px;
  resize: none;
}

.DiaryEditor .btn-wrapper {
  display: flex;
  justify-content: space-between;
}