* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f6f6f6;
}

.App {
  width: 60%;
  min-height: 100vh;
  padding: 20px 20px 0 20px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 7px 29px 0 rgb(100 100 111 / 20%);
}
@media screen and (min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media screen and (max-width: 650px) {
  .App {
    width: 90vw;
  }
}
/* Button */
.MyBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
}

.MyBtn_default {
  background: #ececec;
}

.MyBtn_negative {
  color: #fff;
  background: #fd565f;
}

.MyBtn_positive {
  color: #fff;
  background: #64c964;
}

/* Header */
.MyHeader {
  display: flex;
  align-items: center;
  padding: 10px 20px 20px;
  border-bottom: 1px solid #ececec;
}

.MyHeader .header_btn_left {
  display: flex;
  justify-content: start;
  width: 25%;
}

.MyHeader .header_btn_right {
  display: flex;
  justify-content: end;
  width: 25%;
}

.MyHeader .header_text {
  width: 50%;
}

/* DiaryList */
.DiaryList .menu-wrapper {
  display: flex;
  padding-top: 20px;
  margin-bottom: 30px;
}
.DiaryList .menu-wrapper .SortMenu {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ececec;
  border: none;
  border-radius: 5px;
}

.DiaryList .menu-wrapper .MyBtn {
  flex-grow: 1;
}

/* DiaryItem */
.DiaryItem {
  display: flex;
  padding:15px;
  border-bottom: 1px solid #ececec;
  cursor: pointer;
}

.DiaryItem .emotion-image-wrapper {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DiaryItem .emotion-image-wrapper-1 {
  background-color: #64c964;
}

.DiaryItem .emotion-image-wrapper-2 {
  background-color: #9dd772;
}
.DiaryItem .emotion-image-wrapper-3 {
  background-color: #fdce17;
}
.DiaryItem .emotion-image-wrapper-4 {
  background-color: #fd8446;
}
.DiaryItem .emotion-image-wrapper-5 {
  background-color: #fd565f;
}

.DiaryItem .emotion-image-wrapper img {
  width: 50%;
}

.DiaryItem .diary-info {
  flex-grow: 1;
  padding: 10px 20px;
  text-align: start;
}
.DiaryItem .diary-info div:first-child {
  font-weight: 700;
  margin-bottom: 10px;
}

